@import url('https://fonts.googleapis.com/css?family=Roboto');


.sideLink{
    position: fixed;
    top: 10%;
    font-family: 'Roboyo', sans-serif;
    padding: 1rem 1rem;
    left: -21.5rem;
    background-color: rgb(137, 137, 137);
    width: 250px;
    border-radius: 0 5rem 5rem 0;
    color: white;
    text-align: end;
    transition: 0.2s ease-in-out;
}

.sideLink:hover{
    left: 0;
    background-color: #222;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1{
 width: 20px;
 height: 3px;
 background-color: white;
 transform: rotate(45deg) translateX(3px);
 transform-origin: right;
}
.line2{
    width: 20px;
    height: 3px;
    background-color: white;
    transform: rotate(-45deg) translateX(3px);
    transform-origin: right;
}

.sideLink a{
    color: white;
    text-decoration: none;
}