@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}

h1 {
  font-size: 3rem;
}

p {
  color: var(--Grayish-Blue);
  font-size: 1.61rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 3.2rem;
  text-align: center;
}

.logo {
  margin: 12.4rem auto 7.4rem;
  width: 12.4rem;
}

.landing__desc h1 {
  margin-bottom: 2.5rem;
}

.landing__desc p {
  margin-bottom: 5rem;
}

.landing__desc__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ios {
  display: inline-block;
  background-color: var(--Strong-Cyan);
  padding: 2rem 8rem;
  border-radius: 5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 2.5rem;
}

.mac {
  display: inline-block;
  background-color: var(--Light-Blue);
  padding: 2rem 8rem;
  border-radius: 5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 15rem;
}

.ios:hover,
.mac:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s ease;
}

.ios:hover {
  box-shadow: var(--Strong-Cyan) 0px 10px 20px -12px,
    var(--Strong-Cyan) 0px 18px 36px -18px;
}

.mac:hover {
  box-shadow: var(--Light-Blue) 0px 10px 20px -12px,
    var(--Light-Blue) 0px 18px 36px -18px;
}

.snippets__heading h2 {
  margin-bottom: 2.5rem;
}

.snippets__heading p {
  margin-bottom: 6.8rem;
}

.snippets__img {
  margin-bottom: 6rem;
}

.snippets__desc__text {
  margin-bottom: 6rem;
}

.snippets__desc__text h3 {
  margin-bottom: 1.5rem;
}

.snippets__desc__text:last-child {
  margin-bottom: 20rem;
}

.clipboard__text h2 {
  margin-bottom: 2.5rem;
}

.clipboard__text p {
  margin-bottom: 6rem;
}

.clipboard__img {
  margin-bottom: 14rem;
}

.workflow__headings h2 {
  margin-bottom: 2rem;
}

.workflow__headings p {
  margin-bottom: 9rem;
}

.text-blocks__img {
  width: 4rem;
  margin: 0 auto 4rem;
}

.text-blocks h3 {
  margin-bottom: 2rem;
}

.text-blocks p {
  margin-bottom: 6rem;
}

.logo-companies {
  width: 14rem;
  margin: 0 auto 6rem;
}

.logo-companies:last-child {
  margin-bottom: 18rem;
}

.clipboard h2 {
  margin-bottom: 3rem;
}

.clipboard p {
  margin-bottom: 5rem;
}

.clipboard__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: rgb(243, 243, 243);
  padding: 5rem;
}

.footer__logo {
  width: 5rem;
  margin: 0 auto 5rem;
}

.footer__links a {
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 3rem;
  font-weight: 600;
}

.footer__links a:last-child {
  margin-bottom: 6rem;
}

.footer__links a:hover {
  cursor: pointer;
  color: var(--Strong-Cyan);
}

.footer__social__link:hover {
  cursor: pointer;
  filter: invert(53%) sepia(80%) saturate(333%) hue-rotate(121deg)
    brightness(92%) contrast(85%);
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
